<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yazılım Danışmanlığı</title>
    <meta name="description" content="Emrah Atalay | Yazılım Danışmanlığı">

    <link rel="icon" href="/img/icons/favicon.ico">

    <!-- All External CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/elements.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- User style -->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Preloader style -->
    <link rel="stylesheet" href="~/css/preloader.css">
    <!-- Modernizer Js -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Hotjar Tracking Code for http://devsbay.tech/caracraft-demo/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 498027, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body id="page-top" class="page-minimal" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Preloader start  -->
    <div id="loader-wrapper" class="minimal">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- Wrapper start -->
    <div class="wrapper layout-minimal">
        <partial name="_header" />
        <partial name="_menu" />
            @RenderBody()
        <partial name="_footer" />
    </div>

    <!-- All javaScript Files -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/jquery.isotope.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
</body>
</html>
