        <!-- About section start -->
<div class="cara-standard-section section-bg-regular about-section" id="caracraft-about-id">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-information-area width-50">
                    <div class="area-title">
                        <h1>01. Hakkımda</h1>
                    </div>
                    <div class="about-block-text">
                        <p>I am a male human. For over 15 years, I have designed websites, ui/ux design. I was a recruitment consultant, people spat at me in the streets and shouted, “You’re nearly as bad as an estate agent”. I work out of a small office in Truro, Cornwall. I generally sit here in my saggy tracksuit bottoms listening to Billy Joel whilst I work.But none of that matters really, does it? I mean, you wouldn’t be bothered if I rode a slutty horse whilst wearing crotchless as I built a good website, would you? </p>
                        <a href="about-minimal.html" class="button sabbi-button sabbi-btn-1">DAHA FAZLA &nbsp;&nbsp; <small>+</small></a>
                    </div>
                    <div class="signature">
                        <p class="ca-name">Emrah</p>
                        <img class="sign-image" src="/img/logos/logo.png" alt="">
                    </div>
                    <div class="download-btn">
                        <a href="#" class="button active-btn sabbi-button hupup"><i class="fa fa-download"></i> CV indir</a>
                    </div>
                </div>
                <div class="section-gallery width-50">
                    <div class="section-gallery-content">
                        <div class="gallery-slider gallery-box">
                            <div class="single-gallery-slide">
                                <a href="/img/gallery/minimal/1.jpg" class="gallery-popup">
                                    <img src="/img/gallery/minimal/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="single-gallery-slide">
                                <a href="/img/gallery/minimal/2.jpg" class="gallery-popup">
                                    <img src="/img/gallery/minimal/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="single-gallery-slide">
                                <a href="/img/gallery/minimal/3.jpg" class="gallery-popup">
                                    <img src="/img/gallery/minimal/3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <span class="pagingInfo"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section end -->