        <!-- Blog section start -->
<div class="cara-standard-section blog-section white-bg" id="caracraft-blog-id">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="area-title mb-80">
                    <h1>07. FROM MY BLOG</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="area-title text-right mb-80">
                    <p>Read recent news and article about visual design .You will have to impress and inspired by reading all this news and article. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service-slider">
                <div class="single-service-slider-item">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="blog-minimal.html" target="_blank">
                                <img src="/img/blog/minimal/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3><a href="blog-minimal.html" target="_blank">MINIMALISM IS NEW SEXY IN 21ST CENTURY</a></h3>
                            <p>Tolik create a really nice landing page, featuring a minimalistic and extremely clean style. In fact, the overall page shows a lot of light areas which enriched with circular shapes and gifts, which can be obviously the main.</p>
                            <a class="sabbi-arrow-roll read-more sabbi-arrow-roll-right" href="blog-minimal.html" target="_blank">READ MORE <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-service-slider-item">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="blog-minimal-1.html" target="_blank">
                                <img src="/img/blog/minimal/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3><a href="blog-minimal-1.html" target="_blank">COMMON TREE SPECIES USED FOR BONSAI TREE</a></h3>
                            <p>Tolik create a really nice landing page, featuring a minimalistic and extremely clean style. In fact, the overall page shows a lot of light areas which enriched with circular shapes and gifts, which can be obviously the main.</p>
                            <a class="sabbi-arrow-roll read-more sabbi-arrow-roll-right" href="blog-minimal-1.html" target="_blank">READ MORE <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-service-slider-item">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="blog-minimal-2.html" target="_blank">
                                <img src="/img/blog/minimal/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3><a href="blog-minimal-2.html" target="_blank">IT’S NOT THE LENGTH OF LIFE BUT DEPTH OF LIFE</a></h3>
                            <p>Tolik create a really nice landing page, featuring a minimalistic and extremely clean style. In fact, the overall page shows a lot of light areas which enriched with circular shapes and gifts, which can be obviously the main.</p>
                            <a class="sabbi-arrow-roll read-more sabbi-arrow-roll-right" href="blog-minimal-2.html" target="_blank">READ MORE <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-service-slider-item">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="http://www.themeperch.net/html/caracraft/blog-minimal-3.html" target="_blank">
                                <img src="/img/blog/minimal/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content">
                            <h3><a href="http://www.themeperch.net/html/caracraft/blog-minimal-3.html" target="_blank">IT’S NOT THE LENGTH OF LIFE BUT DEPTH OF LIFE</a></h3>
                            <p>Tolik create a really nice landing page, featuring a minimalistic and extremely clean style. In fact, the overall page shows a lot of light areas which enriched with circular shapes and gifts, which can be obviously the main.</p>
                            <a class="sabbi-arrow-roll read-more sabbi-arrow-roll-right" href="http://www.themeperch.net/html/caracraft/blog-minimal-3.html" target="_blank">READ MORE <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog section end -->