        <!-- Contact section start -->
<div class="overlay" style="position: relative;">
    <div class="contact-section cara-standard-section" id="caracraft-contact-id">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-information-wrapper">
                        <div class="area-title">
                            <h1>09. DROP ME A LINE</h1>
                        </div>
                        <div class="info-block-text">
                            <p>Please dont hesitate to send me a message using the form on the contact form or, preferably, you could send an email to dan at craracraft.com with a “dot co dot uk” at the end. From there we can arrange a phone or skype call and I’ll tell you about the time I got stuck in the loft.</p>
                        </div>
                        <div class="address-info">
                            <div class="single-info">
                                <div class="info-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="info-details">
                                    <p>99 Barnard st - suit 111 united kingdom</p>
                                </div>
                            </div>
                            <div class="single-info">
                                <div class="info-icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="info-details">
                                    <a href="mailto:Hellow@craracraft.com.uk">Hellow@craracraft.com.uk</a>
                                </div>
                            </div>
                            <div class="single-info">
                                <div class="info-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="info-details">
                                    <p>+3333 222 1111</p>
                                </div>
                            </div>
                            <div class="single-info">
                                <div class="info-icon">
                                    <i class="fa fa-skype"></i>
                                </div>
                                <div class="info-details">
                                    <p>caracraft007.uk</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form-wrapper">
                        <div class="contact-page-area">
                            <form id="caracraft-contact-form" action="http://themeperch.net/html/caracraft/sendmail.php" method="POST" name="adam_message_form" class="contcat-form  text-center">
                                <div class="form-head fix">
                                    <div class="single-from-input">
                                        <input type="text" name="your_name" placeholder="Your Name*" required>
                                    </div>
                                    <div class="single-from-input">
                                        <input type="email" name="your_mail" placeholder="Your Email*" required>
                                    </div>
                                    <div class="single-from-input">
                                        <input type="text" name="your_subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="form-body">
                                    <textarea name="your_message" class="text-area" placeholder="Message*" required></textarea>
                                </div>
                                <button type="submit" class="btn-submitt btn-medium">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </form>
                            <p class="caracraft-form-send-message"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>