    <!-- Footer area start -->
<footer class="footer-area section-bg-revarse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="footer-info">
                    <a href="index.html">
                        <img src="/img/logos/logo.png" alt="">
                    </a>
                    <p>POWERED @DateTime.Now.Year <i class="fa fa-apple"></i> BY EMRAH ATALAY</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="back-to-top text-right" id="to-top-button">
                    <a id="back-to-top" class="to-top-btn" href="#"><i class="fa fa-long-arrow-up"></i></a>
                    <p>Yukarı Çık</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer area end -->