 <!-- Menu section start -->
<div class="menu-section">
    <div class="menu-container">
        <nav class="main-menu main-menu-wrapper">
            <ul>
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="active">
                    <a class="page-scroll" href="#page-top">Anasayfa</a>
                </li>
                <li>
                    <a class="page-scroll" href="#caracraft-about-id">Hakkımda</a>
                </li>
                <li>
                    <a class="page-scroll" href="#caracraft-service-id">Servisler</a>
                </li>
                <li>
                    <a class="page-scroll" href="#caracraft-portfolio-id">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#caracraft-price-id">Fiyatlandırma</a>
                </li>
                <li>
                    <a class="page-scroll" href="#caracraft-testimonial-id">testimonial</a>
                </li>
                <li>
                    <a class="page-scroll" href="#caracraft-blog-id">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#caracraft-contact-id">İletişim</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Menu section end -->
<!-- particles.js container -->
@*<div id="particle-line"></div>*@