        <!-- Portfolio section start -->
<div class="car-standard-section portfolio-section white-bg" id="caracraft-portfolio-id">
    <!-- PORTFOLIO CONTENT START -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="area-title mb-90">
                    <h1>04. my workfolio</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-filter-wrap text-right">
                    <ul class="portfolio-filter">
                        <li class="active">
                            <a href="#" data-filter="*">all</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".cat1">ux</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".cat3">branding</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".cat2">Development</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".cat4">photography</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portfolio-content blog-portfolio-content">
            <div class="portfolio portfolio-gutter portfolio-container portfolio-simple">
                <div class="portfolio-item cat1 cat3 cat4 col-md-4">
                    <div class="portfolio-item-content">
                        <div class="item-thumbnail">
                            <img src="/img/portfolio/minimal/1.jpg" alt="">
                        </div>
                        <div class="portfolio-description">
                            <div class="description-box">
                                <ul class="portfolio-catagory">
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Logo</a>
                                    </li>
                                </ul>
                                <div class="portfolio-action-btn">
                                    <a href="portfolio-details-minimal.html"><i class="fa fa-chain fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="/img/portfolio/minimal/1-e.jpg" class="portfolio-gallery-set">
                                        <img src="/img/icons/focus_minimal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item cat2 cat3 col-md-8">
                    <div class="portfolio-item-content">
                        <div class="item-thumbnail">
                            <img src="/img/portfolio/minimal/2.jpg" alt="">
                        </div>
                        <div class="portfolio-description">
                            <div class="description-box">
                                <ul class="portfolio-catagory">
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Logo</a>
                                    </li>
                                </ul>
                                <div class="portfolio-action-btn">
                                    <a href="portfolio-details-minimal-1.html"><i class="fa fa-chain fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="/img/portfolio/minimal/2-e.jpg" class="portfolio-gallery-set">
                                        <img src="/img/icons/focus_minimal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item cat1  col-md-8">
                    <div class="portfolio-item-content">
                        <div class="item-thumbnail">
                            <img src="/img/portfolio/minimal/3.jpg" alt="">
                        </div>
                        <div class="portfolio-description">
                            <div class="description-box">
                                <ul class="portfolio-catagory">
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Logo</a>
                                    </li>
                                </ul>
                                <div class="portfolio-action-btn">
                                    <a href="portfolio-details-minimal-1.html"><i class="fa fa-chain fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="/img/portfolio/minimal/3-e.jpg" class="portfolio-gallery-set">
                                        <img src="/img/icons/focus_minimal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item cat2 cat1 cat3 col-md-4">
                    <div class="portfolio-item-content">
                        <div class="item-thumbnail">
                            <img src="/img/portfolio/minimal/4.jpg" alt="">
                        </div>
                        <div class="portfolio-description">
                            <div class="description-box">
                                <ul class="portfolio-catagory">
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Logo</a>
                                    </li>
                                </ul>
                                <div class="portfolio-action-btn">
                                    <a href="portfolio-details-minimal.html"><i class="fa fa-chain fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="/img/portfolio/minimal/4-e.jpg" class="portfolio-gallery-set">
                                        <img src="/img/icons/focus_minimal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item cat4 cat3 col-md-4 cat1">
                    <div class="portfolio-item-content">
                        <div class="item-thumbnail">
                            <img src="/img/portfolio/minimal/5.jpg" alt="">
                        </div>
                        <div class="portfolio-description">
                            <div class="description-box">
                                <ul class="portfolio-catagory">
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Logo</a>
                                    </li>
                                </ul>
                                <div class="portfolio-action-btn">
                                    <a href="portfolio-details-minimal-1.html"><i class="fa fa-chain fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="/img/portfolio/minimal/5-e.jpg" class="portfolio-gallery-set">
                                        <img src="/img/icons/focus_minimal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item cat1 cat3 col-md-4">
                    <div class="portfolio-item-content">
                        <div class="item-thumbnail">
                            <img src="/img/portfolio/minimal/6.jpg" alt="">
                        </div>
                        <div class="portfolio-description">
                            <div class="description-box">
                                <ul class="portfolio-catagory">
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Logo</a>
                                    </li>
                                </ul>
                                <div class="portfolio-action-btn">
                                    <a href="portfolio-details-minimal-1.html"><i class="fa fa-chain fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="/img/portfolio/minimal/6-e.jpg" class="portfolio-gallery-set">
                                        <img src="/img/icons/focus_minimal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item cat1 cat3 col-md-4">
                    <div class="portfolio-item-content">
                        <div class="item-thumbnail">
                            <img src="/img/portfolio/minimal/7.jpg" alt="">
                        </div>
                        <div class="portfolio-description">
                            <div class="description-box">
                                <ul class="portfolio-catagory">
                                    <li>
                                        <a href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a href="#">Logo</a>
                                    </li>
                                </ul>
                                <div class="portfolio-action-btn">
                                    <a href="portfolio-details-minimal-1.html"><i class="fa fa-chain fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href="/img/portfolio/minimal/7-e.jpg" class="portfolio-gallery-set">
                                        <img src="/img/icons/focus_minimal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-area">
                <div class="load-more text-center">
                    <a class="button sabbi-button sabbi-btn-1">Load More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- PORTFOLIO CONTENT END -->
</div>
<!-- Portfolio section end -->