        <!-- Pricing Plan section start -->
<div class="cara-standard-section pricing-section white-bg" id="caracraft-price-id">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="area-title service-heading mb-80">
                    <h1>05. PRICING PLAN</h1>
                </div>
            </div>
            <div class="col-md-7">
                <div class="area-title text-right mb-80">
                    <p>I provide high quality affordable dentistry. I have a transparent pricing policy as you will see below. All plans are interest free.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service-slider">
                <div class="single-price-slider-item">
                    <div class="single-price">
                        <div class="price-box-inner">
                            <div class="price-icon">
                                <h2>150$</h2>
                            </div>
                            <div class="price_plan_1 package-list">
                                <h3>STANDARD</h3>
                                <ul>
                                    <li>Simple user research</li>
                                    <li>Wireframing</li>
                                    <li>Visual design NEW</li>
                                    <li>1 page</li>
                                    <li>Support & assistance</li>
                                </ul>
                                <a class="sabbi-arrow-roll sabbi-arrow-roll-right">Order Now <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-price-slider-item">
                    <div class="single-price">
                        <div class="price-box-inner">
                            <div class="price-icon">
                                <h2>250$</h2>
                            </div>
                            <div class="price_plan_2 package-list">
                                <h3>PREMIUM</h3>
                                <ul>
                                    <li>Extensive user research</li>
                                    <li>Wireframing</li>
                                    <li>Visual design NEW</li>
                                    <li>3 pages</li>
                                    <li>Support & assistance</li>
                                </ul>
                                <a class="sabbi-arrow-roll sabbi-arrow-roll-right">Order Now <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-price-slider-item">
                    <div class="single-price">
                        <div class="price-box-inner">
                            <div class="price-icon">
                                <h2>350$</h2>
                            </div>
                            <div class="price_plan_3 package-list">
                                <h3>ULTIMATE</h3>
                                <ul>
                                    <li>Extensive user research</li>
                                    <li>Wireframing</li>
                                    <li>Visual design NEW</li>
                                    <li>5 pages</li>
                                    <li>Support & assistance</li>
                                </ul>
                                <a class="sabbi-arrow-roll sabbi-arrow-roll-right">Order Now <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-price-slider-item">
                    <div class="single-price">
                        <div class="price-box-inner">
                            <div class="price-icon">
                                <h2>450$</h2>
                            </div>
                            <div class="price_plan_3 package-list">
                                <h3>ULTIMATE</h3>
                                <ul>
                                    <li>Extensive user research</li>
                                    <li>Wireframing</li>
                                    <li>Visual design NEW</li>
                                    <li>5 pages</li>
                                    <li>Support & assistance</li>
                                </ul>
                                <a class="sabbi-arrow-roll sabbi-arrow-roll-right">Order Now<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan section end -->