        <!-- Service section start -->
<div class="cara-standard-section service-section gray-bg" id="caracraft-service-id">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="area-title service-heading mb-80">
                    <h1>03. Servisler</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="area-title text-right mb-80">
                    <p>I basically do ui/ux visual design. i have 2.5 k client from all around the world. i do digital marketing too.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service-slider">
                <div class="single-service-slider-item">
                    <div class="single-service">
                        <div class="service-box-inner">
                            <div class="service-icon">
                                <i class="pe-7s-paint"></i>
                            </div>
                            <h3>WEB DESIGN</h3>
                            <p>Bring to the level win-win survival strategies to ensure productive domination at the end of the day,going forward, a- new normal that has evolved from gao.</p>
                            <a class="sabbi-arrow-roll sabbi-arrow-roll-right" href="#">read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-service-slider-item">
                    <div class="single-service">
                        <div class="service-box-inner">
                            <div class="service-icon">
                                <i class="pe-7s-volume"></i>
                            </div>
                            <h3>MARKETING</h3>
                            <p>Bring to the level win-win survival strategies to ensure productive domination at the end of the day,going forward, a- new normal that has evolved from gao.</p>
                            <a class="sabbi-arrow-roll sabbi-arrow-roll-right" href="#">read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-service-slider-item">
                    <div class="single-service">
                        <div class="service-box-inner">
                            <div class="service-icon">
                                <i class="pe-7s-edit"></i>
                            </div>
                            <h3>UI/UX DESIGN</h3>
                            <p>Bring to the level win-win survival strategies to ensure productive domination at the end of the day,going forward, a- new normal that has evolved from gao.</p>
                            <a class="sabbi-arrow-roll sabbi-arrow-roll-right" href="#">read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="single-service-slider-item">
                    <div class="single-service">
                        <div class="service-box-inner">
                            <div class="service-icon">
                                <i class="pe-7s-edit"></i>
                            </div>
                            <h3>UI/UX DESIGN</h3>
                            <p>Bring to the level win-win survival strategies to ensure productive domination at the end of the day,going forward, a- new normal that has evolved from gao.</p>
                            <a class="sabbi-arrow-roll sabbi-arrow-roll-right" href="#">read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service section end -->