        <!-- Slider area start -->
<div class="slider-area">
    <div class="caracraft-minimal-header overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="default-header">
                        <div class=" col-md-5 col-sm-6 header-right">
                            <div class="dental-right item-thumbnail">
                                <img src="/img/header-right/minimal.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-6 header-left">
                            <div class="single-slide-content">
                                <h1>Emrah Atalay</h1>
                                <p>
                                    Software <strong>Developer,</strong> craft with <strong>love & care!</strong>
                                </p>
                            </div>
                            <div class="address-info">
                                <table class="clearfix">
                                    <tr>
                                        <th>FULL NAME:</th>
                                        <td>Emrah ATALAY</td>
                                    </tr>
                                    <tr>
                                        <th>BIRTHDAY:</th>
                                        <td>15 Ekim, 1993</td>
                                    </tr>
                                    <tr>
                                        <th>HOLIDAY:</th>
                                        <td>Cumartesi ve Pazar</td>
                                    </tr>
                                    <tr>
                                        <th>WORK HOUR:</th>
                                        <td>09:00 - 17:00</td>
                                    </tr>
                                    <tr>
                                        <th>HOBBIES:</th>
                                        <td>Programing and Designing</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="social-bookmark-section" style="overflow:hidden;">
                                <ul class="social-icons-list">
                                    <li class="active">
                                        <a href="https://twitter.com/emrhatalay" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/eatalay13" target="_blank"><i class="fa fa-github"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/emrah-atalay-934919184/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-bottom-btn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sc-button-wrapper">
                    <a href="#caracraft-service-id" class="page-scroll"><i class="fa fa-long-arrow-down"></i></a>&nbsp;&nbsp;&nbsp;
                    <p>SEE MY OFFER</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider area end -->