        <!-- Testimonial section start -->
<div class="cara-standard-section testimonial-section minimal-testimonial gray-bg" id="caracraft-testimonial-id">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="area-title mb-80">
                    <h1>06. TESTIMONIALS</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="area-title text-right mb-80">
                    <p>Meet the people who talking about me. You will impress by listening what they saying about me and abut my work and skill. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-area-wrapper">
                    <div class="testimonial-slider">
                        <div class="single-testimonial">
                            <img src="/img/avatar/minimal_testimonial_auth.png" alt="">
                            <p>Awesome and amazing work. Very well organized HTML files with high quality design. Keep creating and providing such type of quality stuff. Highly recomend this. Thank you very much caracraft doe.</p>
                            <img src="/img/icons/t-signature.png" alt="" class="signature-t">
                            <p class="client-name">HIPSTER STUDIO - CEO</p>
                        </div>
                        <div class="single-testimonial">
                            <img src="/img/avatar/minimal_testimonial_auth.png" alt="">
                            <p>Awesome and amazing work. Very well organized HTML files with high quality design. Keep creating and providing such type of quality stuff. Highly recomend this. Thank you very much caracraft doe.</p>
                            <img src="/img/icons/t-signature.png" alt="" class="signature-t">
                            <p class="client-name">HIPSTER STUDIO - CEO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="brand-logo-title">
                    <div class="brand-logo-wrapper">
                        <p>MY CLIENTS :</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="brand-logo-slider row">
                    <div class="single-brand-slide">
                        <div class="single-brand-slide-inner">
                            <div class="brand-box">
                                <img src="/img/brand/1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="single-brand-slide">
                        <div class="single-brand-slide-inner">
                            <div class="brand-box">
                                <img src="/img/brand/2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="single-brand-slide">
                        <div class="single-brand-slide-inner">
                            <div class="brand-box">
                                <img src="/img/brand/3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="single-brand-slide">
                        <div class="single-brand-slide-inner">
                            <div class="brand-box">
                                <img src="/img/brand/4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial section end -->