@{
    ViewData["Title"] = "Emrah ATALAY";
}

<partial name="_slider-area" />

<div class="content-area">
    <partial name="_about-section" />
    <partial name="_skill-section" />
    <partial name="_services-section" />
    <partial name="_portfolio-section" />
    <partial name="_experience-section" />
    <partial name="_pricing-section" />
    <partial name="_testimonials-section" />
    <partial name="_blog-section" />
    <partial name="_contact" />
</div>